@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body{
    background-color: #EDECEC;
    color: #131516;
}

h1{
    font-size: xx-large;
    font-family: 'IBM Plex Sans', 'Monserrat';
    text-align: center;
} 

h2{
    font-size: x-large;
    font-family: 'IBM Plex Sans', 'Monserrat';
    color: #00274C;
    text-align: center;
}

h3{
    font-family: 'IBM Plex Sans', 'Monserrat';
    color: #00274C;
    text-align: center;
    font-size: large;
}

p{
    line-height: 1.5;
}

img{
    width: 100%;
    height: auto;
}

li{
    display: inline;
}

a {
    color: #00274C;
    text-decoration: underline;
    padding: 0.5em;
}

a :visited{
    color: purple;
}



/* Skip to main */
.skip a{
    background: white;
    left: 0;
    padding: 6px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
    position: absolute;
    top: -40px;
  }
  
  
.skip a:focus{
    position: absolute;
    top: 20px;
  }

:focus{
    border: solid 2px #FFCB05;  
    border-radius: 10%;
  }

.active :focus{
    border: solid 2px #00274C   ;  
    border-radius: 10%;
}


/* logo */
.logo{
    width: 3rem;
    margin: 0 auto;
}

/* nav styling */
nav{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

nav li{
    display: block;
    padding: 0.5em;
    margin: 0.5em;
    font-size: 1rem;
    background-color: #00274C;
    color: #ffffff;
}

nav li a {
    width: 100%;
    text-align: center;
    color: white;
    text-decoration: none;
}

nav .active{
    background-color: #FFCB05;
    color: #00274C;
    font-weight: bold;
    text-decoration: underline;
}

nav .active a{
    color: #00274C;
}

/* overview */
.overview li{
    display: block;
}



/* grid items */

.container{
    display: grid;
  grid-template-columns: 0.5fr 5fr 0.5fr;
  row-gap: 2%;
  column-gap: 2%;
}
.container div{
    grid-column: 2/span 1;
    overflow: hidden;
    margin: 0.25rem 0;
    height: auto;
}

.container div ul{
    text-align: left;
}


/* footer */
footer{
    margin: 1rem 0;
}

